# Analytics

## Imports

In [1]:
import sys

# Add the parent directory to the Python path to access Scrapy files
sys.path.append('../')

import pymongo
from scraper import settings
from scrapy.crawler import Crawler
from scraper.pipelines import ScraperPipeline
import pandas as pd
import re

## Connect to the MongoDB database

In [2]:
# Access the MongoDB connection information from the settings
mongo_uri = settings.MONGO_URI
mongo_port = settings.MONGO_PORT
mongo_db = settings.MONGO_DATABASE

# Create a MongoDB client
client = pymongo.MongoClient(mongo_uri, mongo_port)

# Access the database
db = client[mongo_db]

# Access the collection
watches = db[ScraperPipeline.collection_name]

In [3]:
examples = watches.find().limit(3)
for example in examples:
    print(example)

{'_id': ObjectId('6547629977ddcb0f219c67da'), 'image_urls': ['https://chronexttime.imgix.net/V/6/V61966/V61966_1_det.png?w=1000&ar=1:1&auto=format&fm=png&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=true', 'https://chronexttime.imgix.net/V/6/V61966/V61966_1.png?w=1000&ar=1:1&auto=format&fm=png&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false', 'https://chronexttime.imgix.net/V/6/V61966/V61966_2.jpg?w=1000&ar=1:1&auto=format&fm=jpg&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false', 'https://chronexttime.imgix.net/V/6/V61966/V61966_3.jpg?w=1000&ar=1:1&auto=format&fm=jpg&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false', 'https://chronexttime.imgix.net/V/6/V61966/V61966_4.jpg?w=1000&ar=1:1&auto=format&fm=jpg&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false'], 'image_paths': ['full/3f90e8c550279709a1bd0e96de95831a3642cdd4.jpg', 'full/3097176b675e08d9edaf7a8f05bf5149406be337.jpg', 'full/285cbc17ece2c3b24c46c887b5e96a721104b174.jpg', 'full/388085e0a205a9a2eda8fd55ff698c54f2e6428d.jpg', 'full/25d7b35a1f5c699452f4c468b7a4a1347ef90247.jpg'], 'thumb_paths': ['thumbs/small/3f90e8c550279709a1bd0e96de95831a3642cdd4.jpg', 'thumbs/small/3097176b675e08d9edaf7a8f05bf5149406be337.jpg', 'thumbs/small/285cbc17ece2c3b24c46c887b5e96a721104b174.jpg', 'thumbs/small/388085e0a205a9a2eda8fd55ff698c54f2e6428d.jpg', 'thumbs/small/25d7b35a1f5c699452f4c468b7a4a1347ef90247.jpg'], 'état': 'non-portée - neuve', 'année': '2023', 'marque': 'omega', 'modèle': 'seamaster diver 300m', 'référence': '210.32.42.20.04.001', 'mouvement': 'automatique', 'dimensions': '42mm', 'genre': 'homme', 'sku': 'v61966', 'boîtier': 'acier inoxydable', 'bracelet': 'caoutchouc', 'cristal': 'saphir', 'couleur du cadran': 'blanc', 'fonctions': ['date', 'valve à hélium', 'aiguilles lumineuses', 'indice de luminosité', 'lunette tournante', 'couronne vissée', 'étanche', 'minute', 'heure', 'seconde au centre', 'chronomètre', 'co-axial'], 'price': 5300.0}
{'_id': ObjectId('6547629c77ddcb0f219c67db'), 'image_urls': ['https://chronexttime.imgix.net/V/6/V67443/V67443_1_det.png?w=1000&ar=1:1&auto=format&fm=png&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=true', 'https://chronexttime.imgix.net/V/6/V67443/V67443_1.png?w=1000&ar=1:1&auto=format&fm=png&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false', 'https://chronexttime.imgix.net/V/6/V67443/V67443_2.jpg?w=1000&ar=1:1&auto=format&fm=jpg&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false', 'https://chronexttime.imgix.net/V/6/V67443/V67443_3.jpg?w=1000&ar=1:1&auto=format&fm=jpg&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false', 'https://chronexttime.imgix.net/V/6/V67443/V67443_4.jpg?w=1000&ar=1:1&auto=format&fm=jpg&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false'], 'image_paths': ['full/2fb3346adeb4ed7cf90b93b8e9c9052d5deaaa5b.jpg', 'full/01932e6e304a661e2ca62825bc4bccd7f5d4f97e.jpg', 'full/71c977b493fb5bdafbdea862cf4adaed73c03a88.jpg', 'full/1450bb5e1a54e5341b2cb6f9f16d6a8671be81df.jpg', 'full/075c3ccac1ec6bf1ace9286450b20c318ed068c7.jpg'], 'thumb_paths': ['thumbs/small/2fb3346adeb4ed7cf90b93b8e9c9052d5deaaa5b.jpg', 'thumbs/small/01932e6e304a661e2ca62825bc4bccd7f5d4f97e.jpg', 'thumbs/small/71c977b493fb5bdafbdea862cf4adaed73c03a88.jpg', 'thumbs/small/1450bb5e1a54e5341b2cb6f9f16d6a8671be81df.jpg', 'thumbs/small/075c3ccac1ec6bf1ace9286450b20c318ed068c7.jpg'], 'état': 'non-portée - neuve', 'année': '2023', 'marque': 'breitling', 'modèle': 'avenger chronograph 45 night mission', 'référence': 'v13317101l1x2', 'mouvement': 'automatique', 'dimensions': '45mm', 'genre': 'homme', 'sku': 'v67443', 'boîtier': 'titane', 'bracelet': 'cuir', 'cristal': 'saphir', 'couleur du cadran': 'vert', 'fonctions': ['aiguilles lumineuses', 'indice de luminosité', 'lunette tournante', 'couronne vissée', 'minute', 'heure', 'seconde au centre', 'chronomètre'], 'price': 4550.0}
{'_id': ObjectId('6547629f77ddcb0f219c67dc'), 'image_urls': ['https://chronexttime.imgix.net/V/6/V67506/V67506_1_det.png?w=1000&ar=1:1&auto=format&fm=png&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=true', 'https://chronexttime.imgix.net/V/6/V67506/V67506_1.png?w=1000&ar=1:1&auto=format&fm=png&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false', 'https://chronexttime.imgix.net/V/6/V67506/V67506_2.jpg?w=1000&ar=1:1&auto=format&fm=jpg&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false', 'https://chronexttime.imgix.net/V/6/V67506/V67506_3.jpg?w=1000&ar=1:1&auto=format&fm=jpg&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false', 'https://chronexttime.imgix.net/V/6/V67506/V67506_4.jpg?w=1000&ar=1:1&auto=format&fm=jpg&q=55&usm=50&usmrad=1.5&dpr=1&trim=color&fit=fill&auto=compress&bg=FFFFFF&bg-remove=false'], 'image_paths': ['full/1137d34ac9f8277bf4332e62a204f6ee723023ad.jpg', 'full/c6c1149e04346f896387e507bae7a27634711c83.jpg', 'full/0e890a0cb8216c4f2f19821539e44620dd4087f7.jpg', 'full/eaaf12589d29d91c94edab4cbe78c56dd87015a0.jpg', 'full/7cd5231c7b798df82cfe58afeb442d03d0360cc5.jpg'], 'thumb_paths': ['thumbs/small/1137d34ac9f8277bf4332e62a204f6ee723023ad.jpg', 'thumbs/small/c6c1149e04346f896387e507bae7a27634711c83.jpg', 'thumbs/small/0e890a0cb8216c4f2f19821539e44620dd4087f7.jpg', 'thumbs/small/eaaf12589d29d91c94edab4cbe78c56dd87015a0.jpg', 'thumbs/small/7cd5231c7b798df82cfe58afeb442d03d0360cc5.jpg'], 'état': "certifiée d'occasion - bien", 'année': '2020', 'marque': 'tag heuer', 'modèle': 'carrera', 'référence': 'cbn2a10.ba0643', 'mouvement': 'automatique', 'dimensions': '44mm', 'genre': 'homme', 'sku': 'v67506', 'boîtier': 'acier inoxydable', 'bracelet': 'acier inoxydable', 'cristal': 'saphir', 'couleur du cadran': 'vert', 'fonctions': ['date', 'couronne vissée', 'petite seconde', 'tachymètre', 'minute', 'heure', 'chronographe'], 'price': 4870.0}

In [4]:
# Count the number of documents in the collection
print(f"Number of items in the collection: {watches.count_documents({})}")

Number of items in the collection: 1482

## Descriptive statistics

In [5]:
raw_data = pd.json_normalize(list(watches.find({})))
raw_data.head(3)

,_id,image_urls,image_paths,thumb_paths,état,année,marque,modèle,référence,mouvement,dimensions,genre,sku,boîtier,bracelet,cristal,couleur du cadran,fonctions,price
0,6547629977ddcb0f219c67da,[https://chronexttime.imgix.net/V/6/V61966/V61...,[full/3f90e8c550279709a1bd0e96de95831a3642cdd4...,[thumbs/small/3f90e8c550279709a1bd0e96de95831a...,non-portée - neuve,2023,omega,seamaster diver 300m,210.32.42.20.04.001,automatique,42mm,homme,v61966,acier inoxydable,caoutchouc,saphir,blanc,"[date, valve à hélium, aiguilles lumineuses, i...",5300.0
1,6547629c77ddcb0f219c67db,[https://chronexttime.imgix.net/V/6/V67443/V67...,[full/2fb3346adeb4ed7cf90b93b8e9c9052d5deaaa5b...,[thumbs/small/2fb3346adeb4ed7cf90b93b8e9c9052d...,non-portée - neuve,2023,breitling,avenger chronograph 45 night mission,v13317101l1x2,automatique,45mm,homme,v67443,titane,cuir,saphir,vert,"[aiguilles lumineuses, indice de luminosité, l...",4550.0
2,6547629f77ddcb0f219c67dc,[https://chronexttime.imgix.net/V/6/V67506/V67...,[full/1137d34ac9f8277bf4332e62a204f6ee723023ad...,[thumbs/small/1137d34ac9f8277bf4332e62a204f6ee...,certifiée d'occasion - bien,2020,tag heuer,carrera,cbn2a10.ba0643,automatique,44mm,homme,v67506,acier inoxydable,acier inoxydable,saphir,vert,"[date, couronne vissée, petite seconde, tachym...",4870.0

In [6]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482 entries, 0 to 1481
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                1482 non-null   object
 1   image_urls         1482 non-null   object
 2   image_paths        1482 non-null   object
 3   thumb_paths        1482 non-null   object
 4   état               1482 non-null   object
 5   année              1419 non-null   object
 6   marque             1482 non-null   object
 7   modèle             1482 non-null   object
 8   référence          1482 non-null   object
 9   mouvement          1439 non-null   object
 10  dimensions         1461 non-null   object
 11  genre              1482 non-null   object
 12  sku                1482 non-null   object
 13  boîtier            1469 non-null   object
 14  bracelet           1467 non-null   object
 15  cristal            1445 non-null   object
 16  couleur du cadran  1459 non-null   object
 17  fonctions          1335 non-null   object
 18  price              1482 non-null   float64
dtypes: float64(1), object(18)
memory usage: 220.1+ KB

In [7]:
raw_data.isna().sum()

_id                    0
image_urls             0
image_paths            0
thumb_paths            0
état                   0
année                 63
marque                 0
modèle                 0
référence              0
mouvement             43
dimensions            21
genre                  0
sku                    0
boîtier               13
bracelet              15
cristal               37
couleur du cadran     23
fonctions            147
price                  0
dtype: int64

In [8]:
raw_data.describe(include='object')

,_id,image_urls,image_paths,thumb_paths,état,année,marque,modèle,référence,mouvement,dimensions,genre,sku,boîtier,bracelet,cristal,couleur du cadran,fonctions
count,1482,1482,1482,1482,1482,1419,1482,1482,1482,1439,1461,1482,1482,1469,1467,1445,1459,1335
unique,1482,1482,1482,1482,5,61,69,706,1252,3,74,4,1482,31,39,5,19,467
top,6547629977ddcb0f219c67da,[https://chronexttime.imgix.net/V/6/V61966/V61...,[full/3f90e8c550279709a1bd0e96de95831a3642cdd4...,[thumbs/small/3f90e8c550279709a1bd0e96de95831a...,non-portée - neuve,2023,rolex,datejust 41,126300,automatique,41mm,homme,v61966,acier inoxydable,acier inoxydable,saphir,noir,"[date, minute, heure, seconde au centre]"
freq,1,1,1,1,808,723,290,51,20,1172,213,929,1,928,571,1393,518,59

In [9]:
raw_data.describe()

               price
count    1482.000000
mean    11823.130904
std     18934.153677
min       800.000000
25%      2840.000000
50%      6080.000000
75%     12537.500000
max    239000.000000

In [10]:
# Summarize each categorical variable
def summarize(df, cols, cols_to_explode=None):
    for col in cols:
        if cols_to_explode and col in cols_to_explode:
            print(df.explode(col)[col].value_counts(dropna=False).to_string())
        else:
            print(df[col].value_counts(dropna=False).to_string())
        print()

In [11]:
cols_to_summarize = ["état", "mouvement", "dimensions", "genre", "boîtier", "bracelet", "cristal", "couleur du cadran"]
summarize(raw_data, cols_to_summarize)

état
non-portée - neuve                    808
certifiée d'occasion - très bien      264
certifiée d'occasion - comme neuve    253
certifiée d'occasion - bien           139
certifiée d'occasion - vintage         18

mouvement
automatique         1172
quartz               172
remontage manuel      95
NaN                   43

dimensions
41mm       213
40mm       211
42mm       173
36mm       124
44mm        91
39mm        90
43mm        86
38mm        66
34mm        42
45mm        36
37mm        30
33mm        28
NaN         21
32mm        20
28mm        19
35mm        19
31mm        18
30mm        16
46mm        15
29mm        11
43.5mm      11
38.5mm      10
39.5mm      10
45.5mm       8
42.5mm       7
25mm         7
26mm         7
48mm         6
23mm         6
44.25mm      6
24mm         5
43.8mm       4
22mm         4
19mm         3
47mm         3
27mm         3
36.6mm       2
44.9mm       2
29.5mm       2
50mm         2
36.3mm       2
22.7mm       2
45.8mm       2
38.3mm       2
35.1mm       2
21mm         2
39.8mm       2
40.5mm       2
27.4mm       2
41.5mm       2
29.2mm       1
17.4mm       1
30.5mm       1
33.6mm       1
37.5mm       1
34.7mm       1
45.6mm       1
44.6mm       1
39.7mm       1
43.3mm       1
42.2mm       1
20mm         1
30.6mm       1
36.5mm       1
42.1mm       1
47.5mm       1
31.8mm       1
25.8mm       1
41.6mm       1
44.5mm       1
40.3mm       1
27.5mm       1
49mm         1
44.7mm       1
39.9mm       1

genre
homme      929
unisexe    282
femme      257
unisex      14

boîtier
acier inoxydable                   928
or jaune                            86
acier inoxydable / or jaune         71
céramique                           61
titane                              59
or rose                             58
or blanc                            43
acier inoxydable / or rose          37
acier inoxydable / or blanc         26
bronze                              15
NaN                                 13
platine                             11
or rouge                            10
acier inoxydable / céramique        10
acier plaqué or                      7
acier inoxydable / or rouge          6
argent                               6
acier avec revêtement pvd jaune      5
céramique / acier inoxydable         4
acier avec revêtement pvd            3
                                     3
acier inoxydable / platine           3
céramique / titane                   3
acier inoxydable / or                3
carbone                              2
acier avec revêtement dlc            2
titane / carbone                     2
titane / céramique                   1
acier inoxydable / bronze            1
titane or / blanc                    1
or jaune / or blanc                  1
acier inoxydable / titane            1

bracelet
acier inoxydable                   571
cuir d’alligator                   215
caoutchouc                         172
cuir de veau                       148
acier inoxydable / or jaune         69
acier inoxydable / or rose          36
textile                             33
or jaune                            32
titane                              28
cuir                                25
céramique                           21
or blanc                            18
NaN                                 15
cuir de cheval                      12
or rose                              8
caoutchouc / cuir d’alligator        8
acier inoxydable / céramique         7
caoutchouc / cuir                    7
                                     6
cuir / textile                       6
cuir d'autruche                      5
acier avec revêtement pvd jaune      4
acier inoxydable / titane            4
acier plaqué or                      4
platine                              3
titane / céramique                   3
silicone                             3
caoutchouc / cuir de veau            3
acier avec revêtement pvd            2
caoutchouc / textile                 2
acier inoxydable / or rouge          2
or rouge                             2
acier inoxydable / bronze            1
cuir végétalien                      1
cuir de requin                       1
cuir de bovin                        1
acier inoxydable / or                1
bronze                               1
or jaune / or blanc                  1
perles                               1

cristal
saphir               1393
NaN                    37
verre acrylique        22
verre en hésalite      15
verre minéral           8
plexiglas               7

couleur du cadran
noir           518
bleu           227
argent         206
blanc          169
gris            90
vert            58
or              49
nacre           39
transparent     28
brun            27
NaN             23
rosé             9
rouge            8
rose             8
pavé             5
                 5
orange           5
jaune            4
multicolore      3
violet           1

In [45]:
# Preprocess
# TODO : apply good types
# TODO : flag 'plot', 'text', 'both'

def preprocess(df):
    new_df = df.copy(deep=True)
    
    new_df["état"] = new_df["état"].apply(lambda x: x.split("-")[-1].strip())
    new_df["genre"] = new_df["genre"].replace("unisex", "unisexe")
    new_df["fonctions"] = new_df["fonctions"].fillna("[]")
    new_df["n_fonctions"] = new_df["fonctions"].apply(lambda x: len(x))
    new_df.replace("", "inconnu", inplace=True)
    new_df.fillna("inconnu", inplace=True)
    new_df.drop(columns=["image_urls"], inplace=True)

    def split(s):
        return [elem.strip() for elem in s.split("/")]

    new_df["boîtier"] = new_df["boîtier"].apply(split)
    new_df["bracelet"] = new_df["bracelet"].apply(split)

    trim = re.compile(r"[^\d.,]+")  

    def get_interval(s):
        if s == "inconnu":
            return s
        
        num = float(trim.sub("", s).replace(",", "."))

        if num < 15:
            return "< 15"
        elif 15 <= num and num < 20:
            return "[15, 20["
        elif 20 <= num and num < 25:
            return "[20, 25["
        elif 25 <= num and num < 30:
            return "[25, 30["
        elif 30 <= num and num < 35:
            return "[30, 35["  
        elif 35 <= num and num < 40:
            return "[35, 40["  
        elif 40 <= num and num < 45:
            return "[40, 45["
        elif 45 <= num and num < 50:
            return "[45, 50["  
        else:
            return ">= 50"
    
    new_df["dimensions"] = new_df["dimensions"].apply(get_interval)

    # Explode dataframe images
    new_df = df.explode(["image_paths", "thumb_paths"])

    return new_df

In [13]:
images = preprocess(raw_data)
images.head(3)

In [ ]:
images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482 entries, 0 to 1481
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                1482 non-null   object
 1   image_urls         1482 non-null   object
 2   image_paths        1482 non-null   object
 3   thumb_paths        1482 non-null   object
 4   état               1482 non-null   object
 5   année              1419 non-null   object
 6   marque             1482 non-null   object
 7   modèle             1482 non-null   object
 8   référence          1482 non-null   object
 9   mouvement          1439 non-null   object
 10  dimensions         1461 non-null   object
 11  genre              1482 non-null   object
 12  sku                1482 non-null   object
 13  boîtier            1469 non-null   object
 14  bracelet           1467 non-null   object
 15  cristal            1445 non-null   object
 16  couleur du cadran  1459 non-null   object
 17  fonctions          1335 non-null   object
 18  price              1482 non-null   float64
dtypes: float64(1), object(18)
memory usage: 220.1+ KB

In [ ]:
images.isna().sum()

_id                    0
image_urls             0
image_paths            0
thumb_paths            0
état                   0
année                 63
marque                 0
modèle                 0
référence              0
mouvement             43
dimensions            21
genre                  0
sku                    0
boîtier               13
bracelet              15
cristal               37
couleur du cadran     23
fonctions            147
price                  0
dtype: int64

In [ ]:
images.describe(include='object')

,_id,image_urls,image_paths,thumb_paths,état,année,marque,modèle,référence,mouvement,dimensions,genre,sku,boîtier,bracelet,cristal,couleur du cadran,fonctions
count,1482,1482,1482,1482,1482,1419,1482,1482,1482,1439,1461,1482,1482,1469,1467,1445,1459,1335
unique,1482,1482,1482,1482,5,61,69,706,1252,3,74,4,1482,31,39,5,19,467
top,6547629977ddcb0f219c67da,[https://chronexttime.imgix.net/V/6/V61966/V61...,[full/3f90e8c550279709a1bd0e96de95831a3642cdd4...,[thumbs/small/3f90e8c550279709a1bd0e96de95831a...,non-portée - neuve,2023,rolex,datejust 41,126300,automatique,41mm,homme,v61966,acier inoxydable,acier inoxydable,saphir,noir,"[date, minute, heure, seconde au centre]"
freq,1,1,1,1,808,723,290,51,20,1172,213,929,1,928,571,1393,518,59

In [ ]:
images.describe()

               price
count    1482.000000
mean    11823.130904
std     18934.153677
min       800.000000
25%      2840.000000
50%      6080.000000
75%     12537.500000
max    239000.000000

In [14]:
cols_to_summarize = ["état", "mouvement", "dimensions", "genre", "boîtier", "bracelet", "cristal", "couleur du cadran", "n_fonctions"]
cols_to_explode = ["boîtier", "bracelet"]

summarize(images, cols_to_summarize, cols_to_explode)

état
neuve          808
très bien      264
comme neuve    253
bien           139
vintage         18

mouvement
automatique         1172
quartz               172
remontage manuel      95
inconnu               43

dimensions
[40, 45[    816
[35, 40[    363
[30, 35[    129
[45, 50[     73
[25, 30[     54
inconnu      21
[20, 25[     20
[15, 20[      4
>= 50         2

genre
homme      929
unisexe    296
femme      257

boîtier
acier inoxydable                   1090
or jaune                            158
or rose                              95
céramique                            79
or blanc                             70
titane                               66
or rouge                             16
inconnu                              16
bronze                               16
platine                              14
acier plaqué or                       7
argent                                6
acier avec revêtement pvd jaune       5
carbone                               4
or                                    3
acier avec revêtement pvd             3
acier avec revêtement dlc             2
titane or                             1
blanc                                 1

bracelet
acier inoxydable                   691
cuir d’alligator                   223
caoutchouc                         192
cuir de veau                       151
or jaune                           102
or rose                             44
textile                             41
cuir                                38
titane                              35
céramique                           31
inconnu                             21
or blanc                            19
cuir de cheval                      12
cuir d'autruche                      5
acier avec revêtement pvd jaune      4
acier plaqué or                      4
or rouge                             4
platine                              3
silicone                             3
acier avec revêtement pvd            2
bronze                               2
cuir de bovin                        1
or                                   1
cuir de requin                       1
cuir végétalien                      1
perles                               1

cristal
saphir               1393
inconnu                37
verre acrylique        22
verre en hésalite      15
verre minéral           8
plexiglas               7

couleur du cadran
noir           518
bleu           227
argent         206
blanc          169
gris            90
vert            58
or              49
nacre           39
transparent     28
inconnu         28
brun            27
rosé             9
rouge            8
rose             8
pavé             5
orange           5
jaune            4
multicolore      3
violet           1

n_fonctions
8     237
7     200
2     183
9     165
6     155
4     130
5     127
10    105
3      84
11     50
12     23
13     17
14      4
1       2

In [16]:
# Most important for image generation : statistics about the images we collected

In [ ]:
# Number of images per brand
# Too much brand
# Check if very frequent brands -> 10 brands + others

In [ ]:
# Average image count per item
count = images.groupby("_id").size().mean().astype(int)
print(f"Average image count per item: {count}")

In [ ]:
# Average image count per item per brand
count = images.groupby(["marque", "_id"]).size().groupby("marque").mean().astype(int)
print(f"Average image count per item per brand: {count}")

In [ ]:
# TODO :

# Item count per brand

# Number of distinct models per brand

# Average price per brand

# Frequency of watch functions. Most common functions

# Average price per number of functions

In [ ]:
# TODO : plots
# Can create plots in the summarize function


# For price : Boxplot total, Boxplot per brand, Boxplot per number of functions
# Rq: stats sur les prix pas vraiment intéressantes. Objectif principal = voir diversité des montres dans le jeu construit.